<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AssimpNet" version="3.3.2" targetFramework="net461" />
  <package id="Cloo.clSharp" version="0.9.2.7" targetFramework="net45" />
  <package id="OpenTK" version="3.0.0-pre" targetFramework="net461" />
  <package id="runtime.win-x64.Microsoft.NETCore.App" version="2.1.0-preview1-26216-03" targetFramework="net461" />
  <package id="swigged.cuda" version="9.185.3" targetFramework="net45" />
</packages>